<section id="footer">
  <div class="container">
    <div class="row pt-5 ">
      <div class="col-lg-3 mb-2">
        <img src="../../public/image/op_logo.png" alt="">
      </div>
      <div class="col-lg-3 mb-2">
        <div class="footer_product">
          <h4>LINKS</h4>
          <ul>
            <li><a href=".home">Home</a></li>
            <li><a href="./">About</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Contact Us</a></li>

          </ul>
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="footer_product">
          <h4>CONNECT</h4>
          <ul>
            <li><a href="">Facebook</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">YouTube</a></li>

          </ul>
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="footer_product">
          <h4>CONTACT</h4>
          <ul>
            <li><a href=""><i class="fa-solid fa-phone"></i>+91 9818946033</a></li>
            <li><a href=""><i class="fa-solid fa-location-dot"></i> 4/7, Kalkaji Extension, New Delhi 110019
                Factory: B-26, Sector 88, Phase 2, Noida (U.P).</a></li>
            <li><a href=""><i class="fa-solid fa-envelope"></i> info@spectrumtechnos.com</a></li>

          </ul>
        </div>
      </div>

    </div>
  </div>
</section>




<script src="../../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../../public/owlCarosel/owl.carousel.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="../../public/js/anim.js"> </script>



<script>
  filterSelection("all")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("column");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      console.log(x[i])
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }

  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
    }
  }

  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);
      }
    }
    element.className = arr1.join(" ");
  }


  $(function () {

    $(".item").click(function () {
      // remove classes from all
      $(".item").removeClass("active1");
      $(".item .btn").removeClass("active3");
      // add class to the one we clicked
      $(this).addClass("active1");
    });
  });
</script>
<script>
  var swiper = new Swiper(".mySwiper3", {
    slidesPerView: 5,
    spaceBetween: 5,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
      clickable: true
    },

    breakpoints: {
      600: {
        slidesPerView: 6,
        spaceBetween: 40,
      },

      900: {
        slidesPerView: 5,
        spaceBetween: 40,
      },

    }
  });
</script>

<script>
  var swiper = new Swiper(".mySwiper2", {
    slidesPerView: 4,
    spaceBetween: 30,
    navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
         breakpoints: {
    // when window width is >= 320px
    320: {
      slidesPerView: 2,
      spaceBetween: 20
    },
    // when window width is >= 480px
    480: {
      slidesPerView: 3,
      spaceBetween: 30
    },
    // when window width is >= 640px
    640: {
      slidesPerView: 4,
      spaceBetween: 40
    }
  }
  });
</script>
<script>
  $(function () {
    // Owl Carousel
    var owl = $(".owl-carousel");
    owl.owlCarousel({
      items: 3,
      margin: 1,

      nav: true
    });
  });
</script>

{{!-- // email for contact form --}}
<script>
  function onSubmit() {
    console.log("hello")
    const name = document.getElementById("contact_name").value;
    const email = document.getElementById("contact_email").value;
    const phone = document.getElementById("contact_number").value;
    const address = document.getElementById("contact_address").value;
    const text = document.getElementById("contact_query").value;




    function emailMatch(email) {

      return email.match("[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$")

      console.log("email is valid")
    }

    function nameMatch(name) {
      if (name.match("[a-zA-Z]{3,}")) {
        return true
      }
      else {
        return false
      }
    }
    function phonematch(phone) {
      if (phone.match("^((\\+91-?)|0)?[0-9]{10}$")) {
        return true
      } else {
        return false
      }
    }
    console.log("phone match", phonematch(phone))

    function errorText(id, message) {
      document.getElementById(id).innerHTML = message
      setTimeout(() => {
        document.getElementById(id).innerHTML = "";
      }, 3000)
      return false
    }


    if (name == "" || name == null) {

      errorText("c_name", "please enter Your name")
    } else if (!nameMatch(name)) {
      errorText("c_name", "please enter Your name")
    }
    else if (phone == "" || phone == null) {

      errorText("c_mobile", "please enter  phone number")
    }
    else if (!phonematch(phone)) {

      errorText("c_mobile", "please enter valid phone number")
    }
    else if (email == "" || email == null) {

      errorText("c_mail", "please enter Your email")
    }
    else if (!emailMatch(email)) {

      errorText("c_mail", "please enter  valid email")
    }
    else if (address == "" || address == null) {

      errorText("c_address", "please enter your address")
    }

    else if (text == "" || text == null) {

      errorText("c_query", "please enter your query")
    } else {

      var data = {
        service_id: 'service_8zp4yhp',
        template_id: 'template_sp2t0wq',
        user_id: 'user_mTjMBBP092bpZsnZTyLfp',
        template_params: {
          'from_name': name,
          'from_email': email,
          'from_number': phone,
          'from_query': text,
          'from_address': address,
          'to_owner': 'info@spectrumtechnos.com',


        }
      };

      $.ajax('https://api.emailjs.com/api/v1.0/email/send', {
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json'
      }).done(function () {
        alert("your message has been sent successfully!")
        document.getElementById("contact_name").value = "";
        document.getElementById("contact_email").value = "";
        document.getElementById("contact_number").value = "";
        document.getElementById("contact_query").value = "";
        document.getElementById("contact_address").value = "";
        //  location.reload();
      }).fail(function (error) {
        alert('Oops... ' + JSON.stringify(error));
      });
    }

  }
</script>
{{!-- //end of contact form --}}

{{!-- //modal for --}}
<script>
  function onModal() {
    console.log("hello")
    const name = document.getElementById("modal_name").value;
    const email = document.getElementById("modal_email").value;
    const phone = document.getElementById("modal_number").value;
    const address = document.getElementById("modal_address").value;
    const text = document.getElementById("modaltext").value;




    function emailMatch(email) {

      return email.match("[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$")

      console.log("email is valid")
    }

    function nameMatch(name) {
      if (name.match("[a-zA-Z]{3,}")) {
        return true
      }
      else {
        return false
      }
    }
    function phonematch(phone) {
      if (phone.match("^((\\+91-?)|0)?[0-9]{10}$")) {
        return true
      } else {
        return false
      }
    }
    console.log("phone match", phonematch(phone))

    function errorText(id, message) {
      document.getElementById(id).innerHTML = message
      setTimeout(() => {
        document.getElementById(id).innerHTML = "";
      }, 3000)
      return false
    }


    if (name == "" || name == null) {

      errorText("m_name", "please enter Your name")
    } else if (!nameMatch(name)) {
      errorText("m_name", "please enter Your name")
    }
    else if (phone == "" || phone == null) {

      errorText("m_number", "please enter  phone number")
    }
    else if (!phonematch(phone)) {

      errorText("m_number", "please enter valid phone number")
    }
    else if (email == "" || email == null) {

      errorText("m_email", "please enter Your email")
    }
    else if (!emailMatch(email)) {

      errorText("m_email", "please enter  valid email")
    }
    else if (address == "" || address == null) {

      errorText("m_address", "please enter your address")
    }

    else if (text == "" || text == null) {

      errorText("m_query", "please enter your query")
    } else {

      var data = {
        service_id: 'service_8zp4yhp',
        template_id: 'template_sp2t0wq',
        user_id: 'user_mTjMBBP092bpZsnZTyLfp',
        template_params: {
          'from_name': name,
          'from_email': email,
          'from_number': phone,
          'from_query': text,
          'from_address': address,
          'to_owner': 'info@spectrumtechnos.com',


        }
      };

      $.ajax('https://api.emailjs.com/api/v1.0/email/send', {
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json'
      }).done(function () {
        alert("your message has been sent successfully!")
        document.getElementById("modal_name").value = "";
        document.getElementById("moda_email").value = "";
        document.getElementById("modal_number").value = "";
        document.getElementById("modaltext").value = "";
        document.getElementById("modal_address").value = "";
        //  location.reload();
      }).fail(function (error) {
        alert('Oops... ' + JSON.stringify(error));
      });
    }

  }
</script>

{{!-- //mail for Subscribe --}}
<script>
  function onSubscribe() {


    const email = document.getElementById("subscribe_form").value;
    console.log(email)




    function emailMatch(email) {

      return email.match("[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$")

      console.log("email is valid")
    }





    function errorText(id, message) {
      document.getElementById(id).innerHTML = message
      setTimeout(() => {
        document.getElementById(id).innerHTML = "";
      }, 3000)
      return false
    }


    if (email == "" || email == null) {

      errorText("s_sub", "please enter Your email")
    }
    else if (!emailMatch(email)) {

      errorText("s_sub", "please enter  valid email")
    }
    else {

      var data = {
        service_id: 'service_8zp4yhp',
        template_id: 'template_b6fi5is',
        user_id: 'user_mTjMBBP092bpZsnZTyLfp',
        template_params: {
          'from_email': email,
          'to_owner': "info@spectrumtechnos.com"
        }
      };

      $.ajax('https://api.emailjs.com/api/v1.0/email/send', {
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json'
      }).done(function () {
        alert("your message has been sent successfully!")

        document.getElementById("subscribe_form").value = "";

        //  location.reload();
      }).fail(function (error) {
        alert('Oops... ' + JSON.stringify(error));
      });
    }

  }
</script>

{{!-- mail for custom cable --}}
<script>
  function customCable() {

    const connector1 = document.getElementById("connector1").value;
    const connector2 = document.getElementById("connector2").value;
    const fibercount = document.getElementById("fibercount").value;
    const fibertype = document.getElementById("fibertype").value;
    const jackettype = document.getElementById("jackettype").value;
    const jacketrating = document.getElementById("jacketrating").value;
    const pullingeye = document.getElementById("pullingeye").value;
    const onpool = document.getElementById("onpool").value;
    const breakouttype = document.getElementById("breakouttype").value;
    const breakoutlenght = document.getElementById("breakoutlenght").value;
    const polarity = document.getElementById("polarity").value;
    const cablelenght = document.getElementById("cablelenght").value;
    const quantity = document.getElementById("quantity").value;








    function errorText(id, message) {
      document.getElementById(id).innerHTML = message
      setTimeout(() => {
        document.getElementById(id).innerHTML = "";
      }, 3000)
      return false
    }


    if (connector1 == "" || connector1 == null) {

      errorText("connector1_name", "please select connector 1")
    } else if (connector2 == "" || connector2 == null) {
      errorText("connector2_name", "please  select connector2")
    }
    else if (fibercount == "" || fibercount == null) {

      errorText("fiberCount_name", "please select  fiber Count")
    }
    else if (fibertype == "" || fibertype == null) {

      errorText("fiberType_name", "please select fiber Type")
    }
    else if (jackettype == "" || jackettype == null) {

      errorText("JacketType_name", "please select Jacket Type")
    }
    else if (jacketrating == "" || jacketrating == null) {

      errorText("JacketRating_name", "please select  Jacket Rating")
    }
    else if (pullingeye == "" || pullingeye == null) {

      errorText("pullingEye_name", "please select pulling Eye")
    }

    else if (onpool == "" || onpool == null) {

      errorText("onSpool_name", "please select on Spool")
    }
    else if (breakouttype == "" || breakouttype == null) {

      errorText("breakoutType_name", "please select breakout Type")
    }
    else if (breakoutlenght == "" || breakoutlenght == null) {

      errorText("breakoutLength_name", "please select breakout Length")
    }
    else if (polarity == "" || polarity == null) {

      errorText("polarity_name", "please select polarity")
    }
    else if (cablelenght == "" || cablelenght == null) {

      errorText("cableLength_name", "please select cable Length")
    }
    else if (quantity == "" || quantity == null) {

      errorText("quantity_name", "please select quantity")
    }
    else {

      var data = {
        service_id: 'service_8zp4yhp',
        template_id: 'template_3cb599z',
        user_id: 'user_mTjMBBP092bpZsnZTyLfp',
        template_params: {

          "from_connector1":connector1,
          "from_connector2": connector1,
          "from_fiberCount": fibercount,
          "from_fiberType": fibertype,
          "from_jacketType": jackettype,
          "from_jacketRating": jacketrating,
          "from_pullingEye": pullingeye,

          "from_spool": onpool,
          "from_breakoutType": breakouttype,
          "from_breakoutLength": breakoutlenght,
          "from_polarity": polarity,
          "from_cableLength": cablelenght,
          "from_quantity": quantity,
          "to_owner":"myselfkaushal.kumar@gmail.com",


        }
      };

      $.ajax('https://api.emailjs.com/api/v1.0/email/send', {
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json'
      }).done(function () {
        alert("your custom cable query has been sent successfully!")

        //  location.reload();
      }).fail(function (error) {
        alert('Oops... ' + JSON.stringify(error));
      });
    }

  }
</script>

</body>

</html>