{{>header}}

<div class="container-fluid blog-banner">
    <div class="inner-blog-heading">
        <h1>BLOG</h1>
    </div>
</div>
<section>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="inner-blog-grid">
                    <div class="blog-img">
                        <img src="../public/image/How does fibre Optics transform the life of Rur.jpg" alt="">
                    </div>
                    <div class="inner-blog-content">
                        <div class="blog-heading mb-1">
                            <h3>The Advantages of Optical Fiber over Traditional Copper Wiring</h3>
                        </div>
                        <div class="blog-paragraph mb-1">
                            <p>Fiber optic cables are one of the fastest growing transmission media for new cable installations and upgrades, including spine, horizontal, and even desktop applications. Fiber has several advantages over copper. To date, our best home internet option has been the love-hate wired connection that most of us are familiar with. </p>
                        </div>
                        <div class="blog-view-more">
                            <a href="/advantage">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="inner-blog-grid">
                    <div class="blog-img">
                        <img src="../public/image/Advantages of Optical Fiber.jpg" alt="">
                    </div>
                    <div class="inner-blog-content">
                        <div class="blog-heading mb-1">
                            <h3>How does fibre Optics transform the life of Rural Families?</h3>
                        </div>
                        <div class="blog-paragraph mb-1">
                            <p>The past few years have seen an unprecedented change in how people consume the internet. Mainly talking about India, our country has seen a tremendous expansion in data consumption. Life has completely changed due to connectivity and high-speed data availability, and the changes have been recorded in urban spaces and rural societies. </p>
                        </div>
                        <div class="blog-view-more">
                            <a href="/rularoptics">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="inner-blog-grid">
                    <div class="blog-img">
                        <img src="../public/image/How Optical Fibre Is Transforming.jpg" alt="">
                    </div>
                    <div class="inner-blog-content">
                        <div class="blog-heading mb-1">
                            <h3>How Optical Fibre Is Transforming The World Of Data Transmission?</h3>
                        </div>
                        <div class="blog-paragraph mb-1">
                            <p>The world is now probably familiar with the term "optical fiber". These fiber optic cables connect you to the internet, data transmission, and telephone. However, the concept of fiber optics as a technical solution is much broader. It is an innovative form of data transmission that allows information to be transferred efficiently at an incredible speed.</p>
                        </div>
                        <div class="blog-view-more">
                            <a href="/world_data">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- <div class="col-lg-4 col-md-4 col-12">
                <div class="inner-blog-grid">
                    <div class="blog-img">
                        <img src="../public/image/buildings.png" alt="">
                    </div>
                    <div class="inner-blog-content">
                        <div class="blog-heading mb-1">
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, quidem!</h3>
                        </div>
                        <div class="blog-paragraph mb-1">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi deleniti iste, repellendus officiis sint ducimus sapiente recusandae. Quia, explicabo esse.</p>
                        </div>
                        <div class="blog-view-more">
                            <a href="">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="inner-blog-grid">
                    <div class="blog-img">
                        <img src="../public/image/buildings.png" alt="">
                    </div>
                    <div class="inner-blog-content">
                        <div class="blog-heading mb-1">
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, quidem!</h3>
                        </div>
                        <div class="blog-paragraph mb-1">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi deleniti iste, repellendus officiis sint ducimus sapiente recusandae. Quia, explicabo esse.</p>
                        </div>
                        <div class="blog-view-more">
                            <a href="">View More</a>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</section>


     <section class="new_section">
      <div class="main">
         <div class="container">
           <div class="row">
              <div class="col-lg-12">
                <h2 class="pt-3">Our Products</h2>
              </div>
           </div>

          {{>slider}}
      </div>
    </section>


{{>footer}}