{{>header}}

    <div class="container-fluid slider_banner">
        <div class="row justify-content-center align-items-center mt-0 video_content p-0">
          <div class="col-lg-12 m-0 p-0">
            <video autoplay muted loop id="myVideo">
              <source src="../public/image/video.mp4" type="video/mp4">
              Your browser does not support HTML5 video.
            </video>
          </div>
          <div class="col-lg-6 video_para text-center">
                <div class="para" data-animation="slideInDown">
                  <h1>Reliability, Consistency and Quality,we go one extra mile so you can rely on one convenient source for all your connectivity needs.</h1>
                </div>
          </div>
        </div>
      </div>

      <section id="about">
        <div class="container">
          <div class="col-lg-12">
            <h2>About OpZonik</h2>
          </div>
          <div class="row">
            <div class="col-lg-6"  data-animation="slideInLeft">
              <div class="image_section">
                <img src="../../public/image/buildings.png" alt="" class="img-fluid">
                <div class="box1">

                </div>
              </div>
            </div>
            <div class="col-lg-6" data-animation="slideInRight">
              <div class="">
                  <p>We “Spectrum Technologies” are the leading manufacturer and Trader of Fiber Optic Cable Jumpers (Patchcords & Pigtails). We are engaged in manufacturing, exporting, trading and supplying a wide range of Optical Fiber cable assemblies with facilitates to terminate a wide range of connectors on to different types of cables. </p>
                  <div class="collapse" id="about_sec">
                <div class="card card-body">
              Products offered by us are manufactured using the best grade raw material and latest techniques in strict accordance with the set universal norms. Having spent so much time in this domain we procure raw materials from the most reliable and authentic vendors of the market because we believe in quality as a major area of focus. Apart from this, we have quality testing units to check and maintain the quality of our products.
                </div>
            </div>
              <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#about_sec" role="button" aria-expanded="false" aria-controls="about_sec">
                  Know More
                </a>
            
            </p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section id="work_flow">
        <div class="container">
            <div class="row justify-content-center mt-4">
                <div class="col-lg-12" data-animation="slideInDown">
                    <div class="circle-container " >
                        <div class="outer-circle position_r" data-animation="slideInUp">
                            <div class="inner-circle" data-aos="fade-down" data-aos-delay="600">
                                <div class="inner-circle-content">
                                    
                                    <p>10+ fiber optic cable options to choose from for all your needs</p>
                                </div>
                            </div>
                            <img data-aos="zoom-in" data-aos-delay="800" class="corner shadow img-fluid img_1"
                                src="../../public/image/one.png" alt="">
                        </div>

                        <div class="outer-circle position_r" data-animation="slideInUp">
                            <div class="inner-circle" data-aos="fade-up" data-aos-delay="600">
                                <div class="inner-circle-content">

                                    
                                    <p>XYZ  years of experience in the manufacture and deployment of specialty optical fibers</p>
                                </div>
                            </div>
                            <img data-aos="zoom-in" data-aos-delay="800" class="corner2 shadow"
                                src="../../public/image/two.png" alt="" class="img-fluid">
                        </div>

                        <div class="outer-circle position_r" data-animation="slideInUp">
                            <div class="inner-circle" data-aos="fade-down" data-aos-delay="600">
                                <div class="inner-circle-content">

                                    
                                    <p>From raw materials to preforms to optical fiber everything at one place.</p>
                                </div>
                            </div>
                            <img data-aos="zoom-in" data-aos-delay="800" class="corner3 shadow"
                                src="../../public/image/three.png" alt="" class="img-fluid">
                        </div>

                        <div class="outer-circle position_r" data-animation="slideInUp">
                            <div class="inner-circle" data-aos="fade-up" data-aos-delay="600">
                                <div class="inner-circle-content">

                                  
                                    <p> Cost effective and quality assurance with Certification in numerous standards (ISO)</p>
                                </div>
                            </div>
                            <img data-aos="zoom-in" data-aos-delay="800" class="corner4 shadow"
                                src="../../public/image/four.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <section class="new_section">
      <div class="main">
         <div class="container">
           <div class="row">
              <div class="col-lg-12">
                <h2 class="pt-3">Our Products</h2>
              </div>
           </div>

          {{>slider}}
      </div>
    </section>


    <section id="whyus">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center" data-animation="slideInLeft">
            <div class="why_image">
              <img src="../../public/image/light (4).png" alt="">
              <div class="why_box"></div>
            </div>
          </div>
          <div class="col-lg-6" data-animation="slideInRight">
       
            <div class="why_para">
              <h2>Why Us?</h2>
              <p>We are a quality driven organization, and thus we direct all our endeavours to provide premium range of products. We have also set benchmarks in the domain with the optimal quality of our products that is at par with universal standards. As an efficiently managed organization, our each attempt is to satisfy our patrons to the maximum possible level. </p>
            
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                Thus, we always come up with premium quality range of products. We ensure our clients that these products are delivered within the promised time frame. Our team keeps in continuous touch with the customers to get their valuable feedback that enable us to satisfy our customers with our world class product. Our fair business practices, transparent dealings, easy payment modes and on time delivery have made us the prime choice of our customers. We are the leading choice of our clients owing to the quality products that we offer them. Adopting ethical business policies and working as per the standards of the industry. We have mustered huge goodwill in the market.
              </div>
            </div>
              <p>
              <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Know More
              </a>
            
            </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="quality">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            
            <div class="quality_para" data-animation="slideInLeft">
              <h2>Our Quality Assurance</h2>
              <p>We consider quality, an important aspect that helps us to achieve enormous growth and trust of our valued clients. To maintain total quality in our product range, we have appointed a team of quality auditors who vigilantly check the whole production process in order to deliver flawless finished products. </p>
              <div class="collapse" id="qualitySection">
                <div class="card card-body">
                Our entire range of Fiber Optics Patch cables, Connectors, Adapters, Attenuators, fiber distribution products, fiber pigtail are tested on well-defined parameters to maintain international quality standards. With our stringent quality control measures, we have established a strong position in the industry.
                </div>
            </div>
              <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#qualitySection" role="button" aria-expanded="false" aria-controls="qualitySection">
                  Know More
                </a>
            
            </p>
            </div>
          </div>
          <div class="col-lg-6" data-animation="slideInRight">
            <div class="quality_image">
              <img src="../../public/image/light (3).png" alt="">
              <div class="quality_box"></div>
            </div>
          </div>
         
        </div>
      </div>
    </section>

    <section id="client" class="pt-4 pb-4">
      <div class="container">
        <div class="row justify-content-center ">
          <div class="col-lg-4" data-animation="slideInLeft">
            <div class="client_box">
              <img src="../public/image/new1.png" alt="" style="width: 100%;" >
              <h4 class="mt-3 mb-2">Client Satisfaction</h4>
              <div class="client_satis">
                 <p class="client_para">With our endeavor to offer Fiber Optic Patch cables, Connectors, Adapters, Attenuators, Fiber Distribution products and Fiber pigtails within the committed timeframe has made us a renowned name in the industry.  </p>
                  <div class="collapse" id="qualitySection">
                <div class="card card-body">
               The determination and hard work of our professionals has helped us in meeting the exact requirements of our valued customers spread across the country. Besides this, adhering to strict quality norms, we are able to maintain the international quality standard in our product range. Due to our ethical business policy and customized solution, we have created a loyal clientele.
                </div>
            </div>
              <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#qualitySection" role="button" aria-expanded="false" aria-controls="qualitySection">
                  Know More
                </a>
            
            </p>
              </div>
              
            </div>
          </div>
          <div class="col-lg-4" data-animation="slideInDown">
            <div class="client_box">
              <div class="client_box">
                <img src="../public/image/new2.png" alt=""style="width: 100%;" >
                <h4 class="mt-3 mb-2">Our Vision</h4>
                <div class="our_vision">
                    <p class="client_para">Our vision is to be recognized by clients as a trusted business partner whose mission is to help our clients by offering state-of-the-art products and services.  </p>

                     <div class="collapse" id="ourvision">
                <div class="card card-body">
                We prioritize the need of our esteemed clients by demonstrating the strong commitment to fulfill their business activities, on time, on right spot by offering competitive price for quality product to aim at achieving core success at Spectrum Technologies.
                </div>
            </div>
              <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#ourvision" role="button" aria-expanded="false" aria-controls="ourvision">
                  Know More
                </a>
            
            </p>
                </div>
              
                
              </div>
            </div>
          </div>
          <div class="col-lg-4" data-animation="slideInRight">
            <div class="client_box">
              <div class="client_box">
                <img src="../public/image/new3.png" alt="" style="width: 100%;" >
                <h4 class="mt-3 mb-2">Our Strengths</h4>
                <div class="our-strength">
                    <ul style="text-align:initial">
                      <li>Proven Quality Products and solution.</li>
                      <li>Commitment to building long-term relationships.</li>
                      <li>International quality standard range.</li>
                            <li>Customer-centric approach.</li>
                                 <li>Competitive price.</li>
                    </ul>
                    <div class="collapse" id="ourstrength">
                        <div class="card card-body">
                 
                 
                        </div>
                  </div>
                <p>
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#ourstrength" role="button" aria-expanded="false" aria-controls="ourstrength">
                      Know More
                    </a>
            
                </p>
                </div>
               
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="certification">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="certified">
              <img src="../public/image/certi.jpg" alt="" class="img-fluid">
            </div>
          </div>
           <div class="col-lg-6">
            <div class="certified">
              <img src="../public/image/certi1.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="videoTag">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="image_section">
            <iframe width="1111" height="625" src="https://www.youtube.com/embed/AFp5iCLjQbI" title="Opzonic : Optical Cable Assembler, Manufacturer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>

    <section id="subscribe">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-5" data-animation="slideInDown">
            <div class="sub_box">
              <h2 class="text-center">Subscribe Now</h2>
             
              <div class="form-group subcribe_now">
                <input type="text" class="form-control" placeholder="Enter Your mail" id="subscribe_form">
                <p id="s_sub" class="text-center"></p>
                <button class="btn sub_now" onclick="onSubscribe()">SUBSCRIBE NOW</button>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </section>

   


{{>footer}}