.blog-banner{
    height: 50vh;
    background-image: url(../image/background\ \(3\).png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.inner-blog-heading{
    width: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    position: relative;
}
.inner-blog-heading::after{
    content: "";
    width: 50%;
    height: 2px;
    background-color: rgba(246, 52, 52, 0.841);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}
.inner-blog-grid{
    border: 1px solid #f5f5f5;
    border-radius: 15px;
    box-shadow: 0px 1px 20px -12px rgba(255, 87, 87, 0.697);
    transition: all 0.3s ease-in-out;
}
.inner-blog-grid:hover{
    box-shadow: none;
}
.blog-img{
    height: 40vh;
    border-radius: 15px 15px 0 0;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.inner-blog-content{
    padding: 6px;
}
.blog-heading h3{
    font-size: 20px;
}
.blog-paragraph p{
    font-size: 14px;
}
.blog-view-more a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
}
.blog-view-more a:hover{
    color: rgb(72, 185, 238);
    text-decoration: underline;
}